
{% extends 'main.htm' %}
{% load static %}
{% block title %} Add Category {% endblock %}
{% block content %}

    <style>
        ul{
            list-style: none;
        }
        #id_name{
            width: 100%;
        }
        
        .errorlist{
            color: red;
        }
    </style>
    

        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    
                    <h3 class="h2">Add Category</h3>
        
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{categoryForm.media}}
                        {{categoryForm}}
                        <input type="submit" class="btn--primary full-width" value="Add Category">
                    </form>

                </section>


                
            </main>

        </div> <!-- end s-content -->


{% endblock %}